<!DOCTYPE html>
<html lang="en"{% if debug %}{% else %} manifest="manifest.appcache"{% endif %}>
    <head>
        <meta charset="utf-8">
        <title>{{ app_title }}</title>
        <link href="stylesheets/app.css" rel="stylesheet" media="screen,projection" type="text/css" />
        <link rel="shortcut icon" href="images/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-precomposed.png" />
        <link rel="apple-touch-startup-image" media="(max-device-width: 480px) and not (-webkit-min-device-pixel-ratio: 2)" href="images/apple-touch-startup-image-320x460.png" />
        <link rel="apple-touch-startup-image" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" href="images/apple-touch-startup-image-640x920.png" />
        <link rel="apple-touch-startup-image" media="(min-device-width: 768px) and (orientation: portrait)" href="images/apple-touch-startup-image-768x1004.png" />
        <link rel="apple-touch-startup-image" media="(min-device-width: 768px) and (orientation: landscape)" href="images/apple-touch-startup-image-1024x748.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    </head>
    
    <body>
        <div id="main" role="main">
            <h1>{{ app_title }}</h1>
        </div>
        
        {% if debug %}<a href="#" onclick="location.reload(); return false;" id="reloader">reload</a>{% endif %}
        <script src="javascripts/lib/zepto.min.js"></script>
        <script src="javascripts/lib/add2home.min.js"></script>
        <script src="javascripts/app.js"></script>
        {% if debug %}
        <!--<script src="http://debug.phonegap.com/target/target-script-min.js#{{ app_name }}"></script>-->
        <!-- Remote Web Inspector is at http://debug.phonegap.com/client/#{{ app_name }} -->
        {% endif %}
    </body>
</html>