.container {
    position: relative;
    width: 320px;
    height: 480px;
    @include perspective(1000);
    z-index: 1;
    
    &:hover, &.flip {
        .card {
            -webkit-animation-name: flip;
            -webkit-animation-duration: 2s;
            -webkit-animation-iteration-count: 1;
            -webkit-animation-direction: alternate;
            -webkit-animation-fill-mode: forwards;
        }
    }
}

.card {
    width: 100%;
    height: 100%;
    background: #FFF;
    position: relative;
    @include transform-style(perserve-3d);
    background: blue;
    
    .face {
        width: 100%;
        height: 100%;
        position: absolute;
        @include backface-visibility(hidden);
    }
    
    .front {
        background: #900;
    }
    
    .back {
        background: #090;
        @include rotateY(180deg);
    }
}

@-webkit-keyframes flip {
    0% {
        @include transform(rotateY(0deg) scale(1));
    }
    
    33% {
        @include transform(rotateY(0deg) scale(.75));
    }
    
    67% {
        @include transform(rotateY(180deg) scale(.75));
    }
    
    100% {
        @include transform(rotateY(180deg) scale(1));
    }
}

@-webkit-keyframes flip-back {
    100% {
        @include transform(rotateY(0deg) scale(1));
    }
    
    67% {
        @include transform(rotateY(0deg) scale(.75));
    }
    
    33% {
        @include transform(rotateY(180deg) scale(.75));
    }
    
    0% {
        @include transform(rotateY(180deg) scale(1));
    }
}

